@font-face {
    font-family: arrow;
    src: url(arrow.ttf);
}

.container {
	padding: 0 300px;
	text-align: center;
}

p {
	text-align: justify;
	text-align-last: left;
}

.image-overlay {
	margin: 0 auto;
}

.myimage {
	margin-bottom: 1rem;
}

.arrow {
	font-family: arrow;
	color: #aaa	;
}

.zoom-overlay {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 99999;
	background-color: #fff;
	overflow-y: scroll;
	overflow-x: hidden;
	transition: opacity.3s ease-in-out;
	opacity: 0;
	visibility: hidden;
}

.zoom-overlay .zoom-image {
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
	margin: 30px 0 60px;
}

.zoom-overlay .zoom-image .zoomed-image {
	transform: scale(0);
	min-width: 50vw;
	max-width: 90vw;
	transition: all 1s;
}

.zoomed-image.zoomed {
	cursor: zoom-out;
	transform: scale(1) !important;
}

.zoom-image-list {
	position: fixed;
	bottom: 0;
	width: 100%;
	text-align: center;
	height: 60px;
}

.zoom-image-content {
	padding: 5px;
}

.zoom-image-list img {
	height: 50px;
	cursor: pointer;
}

.zoom-close-btn {
	position: absolute;
	right: 15px;
	top: 10px;
	z-index: 2;
	color: #FF4444;
	text-decoration: none;
	font-size: 2em;
	font-family: sans-serif;
}

.zoom-close-btn img {
	height: 50px;
}

/* Slider */

.image-overlay {
	width: 500px;
	position: relative;
	padding: 0 -30px;
}

.image-slider {
	overflow-x: hidden;
	margin: 0 30px;
}

.image-list {
	transition: .3s;			
}

.image-list img {
	float: left;
	height: 100px;
	cursor: pointer;
}

.image-overlay .arrow {
	width: 20px;
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	cursor: pointer;
}

.image-overlay .arrow.prev-image {
	left: 0;
}

.image-overlay .arrow.next-image {
	right: 0;
}